<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="file://XMLFile1.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--<description>An  example that demonstrates simple IoC features.</description>
      <object name="UserInfoService"  type="SpringNET.UserInfoService,SpringNET">
        <property name="Name" value="张三"/>
        <property name="Person" ref="Person"/>
      </object>
      <object name="Person"  type="SpringNET.Person,SpringNET">
        <property name="Age" value="16"/>
      </object>-->
    </objects>
  </spring>
</configuration>

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>-->

